:root {
    --header-height: 100px;
    --board-size: 318px;
    --cell-size: 30px;
    --background-color: rgb(240, 240, 240);
    --background-color-transparent: rgba(240, 240, 240, 0.7);
    --cell-color: rgb(230, 230, 230);
    --cell-hover-color: rgb(200, 200, 200);
    --cell-border-color: rgb(70, 70, 70);
    --ship-color: rgb(150, 150, 150);
    --hit-color: rgb(206, 169, 134);
    --miss-color: rgb(161, 216, 161);
    --sunk-color: rgb(206, 134, 134);
    --text-color-main: rgb(40, 40, 40);
    --text-color-grey: rgb(100, 100, 100);
    --button-color: rgb(210, 210, 210);
    --button-color-hover: rgb(230, 230, 230);
    --button-color-active: grey;
}

:root.dark {
    --background-color: rgb(30, 30, 30);
    --background-color-transparent: rgba(30, 30, 30, 0.7);
    --cell-color: rgb(40, 40, 40);
    --cell-hover-color: rgb(90, 90, 90);
    --cell-border-color: rgb(220, 220, 220);
    --ship-color: rgb(153, 153, 153);
    --hit-color: rgb(155, 99, 61);
    --miss-color: rgb(52, 109, 52);
    --sunk-color: rgb(155, 61, 61);
    --text-color-main: rgb(220, 220, 220);
    --text-color-grey: rgb(160, 160, 160);
    --button-color: rgb(50, 50, 50);
    --button-color-hover: rgb(20, 20, 20);
    --button-color-active: grey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    background-color: var(--background-color);
    color: var(--text-color-main);
}

#app {
    background-color: skyblue;
    padding: 0 5%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 676px;
}

.btn-container {
    display: flex;
    gap: 5px;
}

header button {
    height: 32px;
    width: 120px;
    font-size: 1rem;
    padding-bottom: 2px;
}

button {
    color: var(--text-color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text-color-main);
    border: none;
    margin-left: 5px;
    border-radius: 0;
    background-color: var(--button-color);
}

button:active {
    background-color: var(--button-color-active);
}

@media (hover: hover) {
    button:hover {
        cursor: pointer;
        border-width: 2px;
        background-color: var(--button-color-hover);
    }
}

#game-container {
    display: flex;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-block: 50px;
    width: 676px;
    transform: translateY(-100vw);
   opacity: 0;
  transition: 300ms ease-in-out;
}
#game-container.active {
    transform: none;
    opacity: 100%;
}


/* player setup */

.setup-ships-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--board-size);
    height: calc(var(--board-size)+ 25px);
    text-align: right;
}

.setup-ships-header p {
    margin: 0;
    font-size: .8rem;
}

.setup-ships-list {
    display: flex;
}

.setup-ship-vertical {
    flex-direction: column;
}

.setup-ship-hide div {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
}

.setup-ship {
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.setup-ship p {
    margin: 0;
    display: inline-block;
}

.setup-ship-box {
    cursor: grab;
    display: inline-flex;
    gap: 2px;
    position: relative;
    z-index: 20;
}

.setup-ship-cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--cell-hover-color);
    border: 1px solid var(--cell-border-color);
}

.setup-ships-options {
    display: flex;
    justify-content: space-between;
}

.setup-ship-dropped {
    position: absolute;
    top: -1px;
    left: -1px;
}

.setup-button-start,
.setup-button-random {
    width: 120px;
    height: 36px;
}

.setup-button-start {
    font-weight: 600;
    font-size: 1rem;
    background-color: var(--hit-color);
    transition: transform 0.1s ease;
}

.setup-button-start-disabled {
    opacity: 0.5;
    pointer-events: none;
}

@media (hover: hover) {
    .setup-button-start:hover {
        transform: scale(1.1);
        background-color: rgb(226, 116, 116);
    }
}

.board-container {
    display: inline-block;
}


/* Player Board */

.board {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
}

.cell {
    position: relative;
    cursor: crosshair;
    background-color: var(--cell-color);
    border: 1px solid var(--cell-border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--cell-size);
    width: var(--cell-size);
}

.cell-drag-over {
    pointer-events: none;
    position: absolute;
    display: inline-block;
    z-index: 40;
}

.cell-drag-valid {
    background-color: var(--miss-color);
}

.cell-drag-invalid {
    background-color: var(--hit-color);
}

@media (hover: hover) {
    .cell:not([data-player='1']):not(.cell-hit):not(.cell-miss):hover {
        background-color: var(--cell-hover-color);
    }
}

.cell-ship {
    background-color: var(--ship-color);
}

.cell-hit {
    background-color: var(--hit-color);
}

.cell-hit::after {
    content: '✖';
    opacity: 0.8;
    font-size: 1.3rem;
    padding-bottom: 1px;
}

.cell-miss {
    background-color: var(--miss-color);
}

.cell-miss::after {
    content: '●';
    opacity: 0.6;
    padding-bottom: 4px;
}

.cell-sunk {
    background-color: var(--sunk-color);
    transition: background-color 0.2s ease;
}

/* Victory container */
.victory-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 318px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    border: 3px solid var(--text-color-main);
    background-color: var(--background-color-transparent);
    backdrop-filter: blur(4px);
}

.victory-container h2 {
    margin: 0;
    text-shadow: 0 0 2px black, 0 0 4px black, 0 0 6px black;
}

.victory-container p {
    margin: 6px;
}

.victory-victory {
    color: var(--miss-color);
}

.victory-defeat {
    color: var(--sunk-color);
}

.hide {
    display: block;
}



.how-to-play {
    display: none;
  transform: translateY(100vh);
    height:70vh;
    width:100%;
    border:1px solid rgb(226, 128, 17);
    transition: 300ms ease-in-out;
    opacity: 0;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    background-color: #ffffff;
    align-items: center;
    z-index: 9;
    padding-bottom: 5rem;
    border:1px solid red;
}

.how-to-play.active {
    transform: none;
    opacity: 100%;
  }

  .how-to-play h1 {
    color: red;
  }